/* src/App.css */
/* Remove side spacing and make the header background transparent */
.ant-layout-header {
    padding: 0;
    background: transparent;
    display: flex;
    justify-content: center;
  }
  
  /* Style the menu items to be more compact */
  .ant-menu-horizontal {
    background: transparent;
  }
  
  .ant-menu-item {
    padding: 0 15px;
  }
  
  /* Add some margin to the menu items to separate them */
  .ant-menu-item + .ant-menu-item {
    margin-left: 8px;
  }
  
  /* Style the selected item */
  .ant-menu-item-selected {
    background: transparent;
    color: #51258f !important  ;
}
.ant-menu-item-selected::after{
    border-bottom-width: 2px;
    border-bottom-color: #51258f  !important ;
}
