.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settings-page>.ant-card {
    width: 100%;
    max-width: 500px;
    margin: 20px;
  }
  
  .settings-page a {
    text-decoration: none; /* Remove the underline */
    color: #007bff; /* Set the link color to a desired color */
    transition: color 0.2s; /* Add a smooth color transition on hover */
  
  }
  
  .settings-page a:hover {
    color: #0056b3; /* Change the link color on hover */
  }